*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    font-size: 18px;
    font-family: 'Noto Sans KR', sans-serif;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    color: #e0e4cc;
    font-size: 1.2em;
    line-height: 1.6;
    background-image: url(../img/background.png);
    overflow-x: hidden;
}

.menu__box li a {
    color: black;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 2%;
}

li {
    float: left;
}

a {
    text-decoration: none;
    color: white;
}

.site{
    margin-bottom: 50%;
}

header {
    display: flex;
    flex: 2;
    margin-left: 0%;
    background-color: skyblue;
}

.me {
    height: 5vh;
}

.logo {
    margin-left: 1%;
    margin-top: 1vh;
    color: white;
}

@keyframes transition {
    0% {
        opacity: 0%;
        scale: 180%;
    }

    100% {
        opacity: 100%;
        scale: 100%;
    }
}

@keyframes smaller_1 {
    0% {
        scale: 130%;
    }

    100% {
        scale: 100%;
    }
}

@keyframes smaller_2 {
    0% {
        scale: 150%;
    }

    100% {
        scale: 100%;
    }
}

@keyframes smaller_3 {
    0% {
        scale: 180%;
    }

    100% {
        scale: 100%;
    }
}

@keyframes biger {
    0% {
        scale: 100%;
    }

    100% {
        scale: 500%;
    }
}

.school-name {
    color: black;
    font-size: 400%;
    margin-top: 15%;
    margin-left: 10%;
    width: 80%;
    text-align: center;
    animation: transition 1s;
}

@media (max-width: 1200px) {
    .school-name {
        animation: smaller_1 1s;
        font-size: 300%;
    }
}

@media (max-width: 1000px) {
    .school-name {
        animation: smaller_2 1s;
        font-size: 200%;
    }
}

@media (max-width: 800px) {
    .school-name {
        animation: smaller_3 1s;
        font-size: 100%;
    }
}

@keyframes fadeInLeft {
    0% {
        opacity: 0%;
        transform: translate3d(-100%, 0, 0);
    }

    100% {
        opacity: 100%;
        transform: translateZ(0);
    }
}

.school {
    margin-top: 20%;
    margin-left: 30%;
    margin-bottom: 5%;
    animation: biger 1s;
    width: 40%;
    animation: fadeInLeft 1s;
}

.school-introduce1 {
    color: black;
    font-weight: bold;
    font-size: 120%;
    margin-top: 10%;
    margin-left: 27.5%;
    animation: fadeInLeft 1s;
}

.school-introduce2 {
    color: black;
    font-weight: bold;
    font-size: 120%;
    margin-top: 10%;
    margin-left: 18%;
    animation: fadeInLeft 1s;
}

.ban {
    margin-top: 9%;
    margin-left: 5%;
    margin-right: 5%;
    animation: fadeInLeft 1s;
    color: black;
    background-color: rgb(220, 220, 220);
    border-radius: 10px;
}

.ban-bold {
    font-weight: bold;
    font-size: 190%;
    margin-left: 10%;
    margin-right: 10%;
}

.ban-img {
    margin-top: 2%;
    margin-left: 2%;
    width: 50px;
    height: 50px;
    border-radius: 10%;
    object-fit: cover;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.btn-added {
    width: 6%;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 25px;
    color: white;
    float: center;
    margin-left: 47%;
    margin-top: 3%;
    animation: fadeInLeft 1.5s;
    color: black;
    background-color: whitesmoke;
}

.btn-added:hover {
    color: white;
    background-color: black;
}

h2 {
    margin-top: 10%;
}

.guest {
    text-align: left;
    padding-left: 3%;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
    animation: fadeInLeft 1s;
    color: black;
    background-color: rgb(245, 245, 245);
    border-radius: 10px;
}

input:not([type="submit"]):not([type="reset"]):not([type="button"]) {
    margin-top: 2%;
    margin-bottom: 2%;
    width: 70%;
    height: 5vh;
    font-size: 100%;
    border: 0;
    border-radius: 15px;
    outline: none;
    padding-left: 10px;
    background-color: rgb(220, 220, 220);
}

.btn-submit {
    width: 10%;
    border-radius: 100px;
    font-size: 20px;
    border: 1px solid black;
    color: white;
    animation: fadeInLeft 1.5s;
    color: black;
    background-color: whitesmoke;
    margin-left:45%;
    margin-bottom: 2%;
}

.btn-submit:hover {
    color: white;
    background-color: black;
}

.wrap-container {
    flex: 1;
}

footer {
    background-color: #4f4f4f;
    height: 100px;
    color: white;
    text-align: center;
    padding: 3% 0;
}

small {
    margin-left: 5%;
    margin-right: 5%
}